.DS_Store
node_modules/
.next/
.vercel/
*.log
webapp/.env.local
webapp/.wrangler/
webapp/supabase/.temp/

.vercel
webapp/public/sw.js
webapp/public/sw.js.map
webapp/public/swe-worker-*
webapp/public/workbox-*
